<!DOCTYPE html>
<html>

    <head>
        <title>Students Management</title>
    </head>

    <body>
        <h1>Welcome to the Students Management Website</h1>
        <p>This web application allows you to manage the students records. </p>
        <table width="50%" height="50%" border="1" cellpadding="10" cellspacing="0">
            <tbody>
                <tr>
                    <td align="center"><a href="/viewAllStudents">View All Students</a></td>
                    <td align="center"><a href="/enrollNewStudent">Enroll New Student</a></td>
                </tr>
            </tbody>
        </table>
    </body>

</html>
